body{
    color: white;
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    display: flex;
    justify-content:space-between ;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a {
    color: white;
    text-decoration: none;
}
header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(23, 73, 10);
}
.center {
    text-align: center;
}
h1 {
    color: rgb(23, 73, 10);
}
footer img {
    width: 40px;
    height: 40px;
}
footer {
    display: flex;
    justify-content: center;
}
footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 2px;
}
.container {
    padding: 0px 50px;
}
nav a:hover {
    color: rgb(43, 187, 24);
}
h5 {
    text-align: center;
}
.br {
    background-color: rgb(23, 73, 10); 
    border-radius: 5px;
    background-size: 50px;
}
.tabelaID {
    background-color: rgb(23, 73, 10);
    border-radius: 5px;
    background-size: auto;
    width: 400px;
    height: 650px;
}
tacos {
    background-color: rgb(23, 73, 10);
    border-radius: 5px;
    height: 5000;

}

.items {
    display: flex;
    align-items: center;
    gap: 6rem;
}

input {
    background-color: aliceblue;
    border: 10px;
    border-radius: 5px;
    padding: 6px;
}
textarea {
    padding: 100px;
}